@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


.post{
    font-size: 16px;
    color: white;
}

article{
    display: flex;
    flex-direction: column;
}
.post img{
    height: rem;
    border-radius: 1.2rem;
}

h1{
    font-size: 2.5rem;
    margin: 0.5rem 0rem;
}
h2{
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 0.4rem;
    text-decoration: underline;
}

.usuario-fecha{
    text-decoration: none;
}


main p{
    text-align: left;
    font-size: 1.2rem;
    font-weight:350;
}

.post p{
    margin: 1rem 0rem;
}
.usuario{
    font-weight: 600;
}




hr {
    margin-top: 0.5rem;
    height: 4px;
    border: 2px solid rgb(24, 24, 24);
    background-color: rgb(24, 24, 24);
}



.eliminar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 0.2rem;

}

button img{
    height: 3rem;
}
.post div{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenedor-comentario{
    color: white;
}

.comentario{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0.5rem 0rem;
}

.comentario p{
}

.comentario img{
}

.comentario button{
    all: unset;
    cursor: pointer;
    display: flex;
    justify-content: end;
    height: 100%;
    background-color: #262727;
}
.post div{
    display: flex;
}
.eliminar{
    width: 13%;
    height: 3rem;
    border-radius: 20px;
    padding: 0.5rem;
    background-color: #F539B4;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
}

.eliminar a{
    color: white;
    text-decoration: none;
}


.eliminar:hover {
    transform: scale(1.1);
}