.secciones li:nth-child(6) a{
    color: #000000;
    background-color: #F539B4;
    border-radius: 1rem;
}

main article {
    background-color: #F539B4;
    border-radius: 1.2rem;
    padding: 1rem;
    height: fit-content;
    background: linear-gradient(#6FC0F8, #F539B4);
}

main article h3 {
    font-size: 2rem;
}

main article h2 {
    font-size: 1rem;
    font-weight: 600;
}

main article p {
    font-weight: 550;
    margin-left: 1rem;
}

main a {
    text-decoration: none;
    color: #000000;
}