.perfil {
    color: #FFFFFF;
}

.perfil>p {
    font-size: 1.3rem;
}

.datos {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
}

.datos img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.datos p {
    font-style: italic;
}

main article {
    border-radius: 0.5rem;
    background-color: #F539B4;
    height: 200px;
    max-height: 300px;
    min-height: 200px;
    background: linear-gradient(rgba(245, 57, 180, 1), rgba(111, 192, 248, 1));
}

main article h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0rem;
}

main article p {
    margin-top: 0rem;
    margin-top: 0rem;
    font-weight: 500;
    margin-left: 0.7rem;
}

main article:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(111, 192, 248, 0.9)), url(../imagenes/brat-image.jpeg);
    background-size: cover;
    background-position: center;
}

main article:nth-child(2) {
    background-image: linear-gradient(rgba(245, 57, 180, 0), rgba(111, 192, 248, 0.9)), url(../imagenes/gatito.jpeg);
    background-size: cover;
    background-position: center;
}