* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}


body {
    min-height: 100vh;
    background-color: #181C14;
}

h1{
    color: #FFFFFF;
    font-weight: bold;
    margin: 0;
    margin-bottom: 2rem;
    font-size: 3rem;
    width: 100%;

}
.sign-in-container form {
    background-color: #181c14;
    display: flex;
    align-items: first baseline;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    width: 80%;
    height: 100%;
    text-align: center;
}

.sign-up-container form{
    background-color: #181c14;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: first baseline;
    padding: 0 50px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}


.logo {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

label{
    color:#FFFFFF;
    font-size:1.3rem;
}
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;

}

.sign-in-container label + input,label + select {
    margin-bottom: 3rem; 
    display: block; 

}

.sign-up-container label + input,label + select {

}


.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    border: 2px solid #c80e89;
}

.names{
    width: 48%;
        
}

.column1{
    width: 60%;

}

.column2{
    width: 38%;
    margin-left: 2%;
}

.campo{
}
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: linear-gradient(to right, #c80e89, #0a84d9);
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.overlay-left {
    transform: translateX(-20%);
}




/* Lo puse para agrupar label e inputs para que esten un poco separados */


button,
.switch {
    border-radius: 0.8rem ;
    border: 1px solid #6FC0F8;
    background-color: #6FC0F8;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    height: 3rem;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
}

button:active,
.switch:active {
    transform: scale(0.95);
}


#chk {
    display: none;
}

#chk:checked~.sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

#chk:checked~.sign-in-container {
    transform: translateX(100%);
}

#chk:checked~.overlay-container {
    transform: translateX(-100%);
}

#chk:checked~.overlay-container .overlay {
    transform: translateX(50%);
}

#chk:checked~.overlay-container .overlay-left {
    transform: translateX(0);
}

#chk:checked~.overlay-container .overlay-right {
    transform: translateX(20%);
}input {
    background-color: #696969;
    border: none;
    margin: 8px 0;
    width: 100%;
    height: 3rem;
    border-radius: 0.8rem;
}