.secciones li:nth-child(1) a {
    color: #000000;
    background-color: #F539B4;
    border-radius: 1rem;
}

main article {
    background-color: #F539B4;
    border-radius: 1.2rem;
    padding: 1rem;
    background: linear-gradient(#6FC0F8, #F539B4);
}

main a:nth-child(1) article {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(111, 192, 248, 1)), url(../imagenes/brat-image.jpeg);
    background-size: cover;
    background-position: center;
}

main a:nth-child(2) article {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(111, 192, 248, 1)), url(../imagenes/the-marias-image.jpeg);
    background-size: cover;
    background-position: center;
}

main article h3 {
    font-size: 2rem;
}

main article p {
    font-weight: 550;
    margin-left: 1rem;
}

main a {
    text-decoration: none;
    color: #000000;
}