/* 
    Created on : 18 nov 2024, 16:20:49
    Author     : Equipo1
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

h1{
    font-size: 5rem;
    color: white;
}

h2{
    font-size: 3rem;
    color: white;
}

p{
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
}

div a{  
    background-color: #F539B4;
    border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    display: inline-block;
    padding: 10px 15px;
}