<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <filter>
        <filter-name>FiltroIniciarSesion</filter-name>
        <filter-class>filters.FiltroIniciarSesion</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroIniciarSesion</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>servlets.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>servlets.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CrearPost</servlet-name>
        <servlet-class>servlets.CrearPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MiPerfil</servlet-name>
        <servlet-class>servlets.MiPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Posts</servlet-name>
        <servlet-class>servlets.General</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post</servlet-name>
        <servlet-class>servlets.Post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnclarPost</servlet-name>
        <servlet-class>servlets.AnclarPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPost</servlet-name>
        <servlet-class>servlets.EliminarPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarComentario</servlet-name>
        <servlet-class>servlets.EliminarComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Playlist</servlet-name>
        <servlet-class>servlets.Playlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reviews</servlet-name>
        <servlet-class>servlets.Reviews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Noticias</servlet-name>
        <servlet-class>servlets.Noticias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarComentario</servlet-name>
        <servlet-class>servlets.AgregarComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponderComentario</servlet-name>
        <servlet-class>servlets.ResponderComentario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/RegistrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/errores/PaginaNoEncontrada.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/errores/AccesoDenegado.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errores/ErrorServidor.jsp</location>
    </error-page>
    <multipart-config>
        <location>/tmp</location>
        <max-file-size>20848820</max-file-size>
        <max-request-size>418018841</max-request-size>
        <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
    <servlet-mapping>
        <servlet-name>CrearPost</servlet-name>
        <url-pattern>/CrearPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MiPerfil</servlet-name>
        <url-pattern>/MiPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Posts</servlet-name>
        <url-pattern>/Posts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post</servlet-name>
        <url-pattern>/Post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnclarPost</servlet-name>
        <url-pattern>/AnclarPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPost</servlet-name>
        <url-pattern>/EliminarPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarComentario</servlet-name>
        <url-pattern>/EliminarComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Playlist</servlet-name>
        <url-pattern>/Playlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reviews</servlet-name>
        <url-pattern>/Reviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Noticias</servlet-name>
        <url-pattern>/Noticias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarComentario</servlet-name>
        <url-pattern>/agregarComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponderComentario</servlet-name>
        <url-pattern>/ResponderComentario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>IniciarRegistrar.jsp</welcome-file>
    </welcome-file-list>
</web-app>
